.dashboard{
display:flex;
height:100vh;
background:#0B1120;
color:white;
}

.sidebar{
width:260px;
background:#111827;
padding:24px;
}

.logo{
display:flex;
align-items:center;
gap:12px;
font-size:24px;
font-weight:700;
}

.main-content{
flex:1;
padding:30px;
}

.top-navbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

.navbar-actions{
display:flex;
gap:20px;
}